html {
	font-size: 100%;
}
body {
	font-size: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	max-width: 720px;
}

hr {
	margin: 2em 0;
}

.tag {
	font-family: "Menlo", monospace;
	padding-right: 0.5em;
}
.small {
	font-size: 0.875em;
}

#wrapper {
	margin: 4.25em 2em;
}

header {
	background-color: #121212;
	height: 2.625rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
}
header h1 {
	font-family: AdobeBlank;
	font-size: 0;
	margin: 0;
	padding: 0;
	padding-left: 0.75rem;
}
header a {
	background-image: url('images/TypeNetwork-small.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 80%;
	display: block;
	height: 2.625rem;
	width: 9.5rem;
}

#menu {
	position: relative;
	float: none;
	font-size: 0.875em;
	line-height: 1em;
}

#menu li {
	border-left: 2px solid white;
	color: grey;
	padding-left: 0.5em
}

#menu a {
	display: inline-block;
	padding: 0.125em 0.5em;
	color: dodgerblue;
}

#menu a:hover {
	background-color: inherit;
	color: red;
}

#menu .active {
	border-left: 2px solid red;
	color: black;
}

#menu .active a {
	color: red;
}

ul {
	list-style: none;
	line-height: 1.375em;
	padding-left: 1.5em;
}

.nav-section {
	font-weight: bold;
}

@media screen and (min-width: 1280px) and (min-height: 700px) {
	#menu {
		position: sticky;
		top: 1em;
		float: right;
		background-color: white;
		width: 18em;
	}
}

@media screen and (min-width: 1440px) {
	#wrapper {
		margin: 5em;
	}
	img {
		height: 500px;
	}
}